body,
html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.8em;
    color: #666;
}

#main1 {
    background-image: url(./images/bg.jpg);
    min-height: 100%;
}

#main3 {
    background-image: url(./images/bg1.jpg);
    min-height: 82%;
}

#main3-img {
    max-width: 300px;
    height: auto;
}

#main5 {
    background-image: url(./images/bg2.jpg);
    min-height: 82%;
}

#main7 {
    background-image: url(./images/bg3.jpg);
    min-height: 82%;
}

#main9 {
    background-image: url(./images/bg4.jpg);
    min-height: 100%;
}

#main1,
#main3,
#main5,
#main7,
#main9 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main1 div,
#main5 div,
#main7 div,
#main9 div {
    font-size: 44px;
    text-align: center;
    letter-spacing: 10px;
    width: auto;
    height: 100px;
}

span {
    padding: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    outline: 8px inset purple;
    outline-offset: 16px;
}

#main2,
#main6 {
    text-align: center;
    padding: 50px 80px;
}

#main4,
#main8 {
    text-align: center;
    padding: 50px 80px;
    background-color: rgba(40, 46, 52);
    color: white;
}

h2 {
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (max-width:900px) {
    #main1 div,
    #main5 div,
    #main7 div,
    #main9 div {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    #main3-img {
        max-width: 250px;
        height: auto;
        transition: 300ms;
    }
}

@media screen and (max-width:600px) {
    #main1,
    #main3,
    #main5,
    #main7,
    #main9 {
        background-attachment: scroll;
    }
    #main1 div,
    #main5 div,
    #main7 div,
    #main9 div {
        font-size: 1rem;
        margin: 10px;
    }
    #main5 div {
        margin: 3px;
        letter-spacing: 7px;
    }
    h2 {
        font-size: 2rem;
    }
    #main3-img {
        max-width: 200px;
        height: auto;
        transition: 300ms;
    }
}